.App {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 30px;
  background-color: darkslategray;
  color: white;
}

.navLinks {
  list-style: none;
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#itemId:hover {
  color: darkcyan !important;
  transition: 0.2s;
}

#shopLink {
  text-decoration: none;
  color: darkslategray;
  font-size: 26px;
}

#shopLink:hover {
  color: darkcyan;
  transition: 0.2s;
}
